AADPasswordExpiryNotifier-LogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check expiry": {
                "actions": {
                    "Calculate_days_to_expiry": {
                        "inputs": {
                            "name": "CurrentUserDaysToExpiry",
                            "value": "@div(sub(ticks(variables('CurrentUserExpiryDate')),ticks(utcNow())),864000000000)"
                        },
                        "runAfter": {
                            "Calculate_expiry_date": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Calculate_expiry_date": {
                        "inputs": {
                            "name": "CurrentUserExpiryDate",
                            "value": "@{addDays(items('Check expiry')?['lastPasswordChangeDateTime'],variables('PasswordsExpireInDays'))}"
                        },
                        "runAfter": {
                            "Store_CurrentUserPrincipalName": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Check_if_already_expired": {
                        "actions": {
                            "Ignore_user,_already_expired": {
                                "inputs": {
                                    "name": "DebugOutput",
                                    "value": "Ignore @{items('Check expiry')?['userPrincipalName']}, as their password has already expired (@{variables('CurrentUserDaysToExpiry')} ago)."
                                },
                                "runAfter": {},
                                "type": "AppendToArrayVariable"
                            }
                        },
                        "else": {
                            "actions": {
                                "More_than_FirstWarningDays_remaining": {
                                    "actions": {
                                        "Ignore,_not_within_range": {
                                            "inputs": {
                                                "name": "DebugOutput",
                                                "value": "Ignore @{items('Check expiry')?['userPrincipalName']}, as their password only expires in @{variables('CurrentUserDaysToExpiry')} days."
                                            },
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable"
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Between_FirstWarningDays_and_SecondWarningDays": {
                                                "actions": {
                                                    "Add_First_Warning_Email_Action": {
                                                        "inputs": {
                                                            "name": "EmailsToSend",
                                                            "value": "@outputs('Compose_First_Warning_Email_Action')"
                                                        },
                                                        "runAfter": {
                                                            "Compose_First_Warning_Email_Action": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "AppendToArrayVariable"
                                                    },
                                                    "Append_to_array_variable": {
                                                        "inputs": {
                                                            "name": "DebugOutput",
                                                            "value": "Send first warning email to @{items('Check expiry')?['userPrincipalName']}, as their password expires in @{variables('CurrentUserDaysToExpiry')} days."
                                                        },
                                                        "runAfter": {},
                                                        "type": "AppendToArrayVariable"
                                                    },
                                                    "Compose_First_Warning_Email_Action": {
                                                        "inputs": {
                                                            "emailAction": {
                                                                "expiringInDays": "@variables('CurrentUserDaysToExpiry')",
                                                                "expiryDate": "@variables('CurrentUserExpiryDate')",
                                                                "name": "@{variables('CurrentUserDisplayName')}",
                                                                "recipient": "@{variables('CurrentUserEmailAddress')}",
                                                                "username": "@{variables('CurrentUserPrincipalName')}",
                                                                "warningType": "First"
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Append_to_array_variable": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Compose"
                                                    }
                                                },
                                                "else": {
                                                    "actions": {
                                                        "Between_SecondWarningDays_and_ThirdWarningDays": {
                                                            "actions": {
                                                                "Add_Second_Warning_Email_Action": {
                                                                    "inputs": {
                                                                        "name": "EmailsToSend",
                                                                        "value": "@outputs('Compose_Second_Warning_Email_Action')"
                                                                    },
                                                                    "runAfter": {
                                                                        "Compose_Second_Warning_Email_Action": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "AppendToArrayVariable"
                                                                },
                                                                "Append_to_array_variable_2": {
                                                                    "inputs": {
                                                                        "name": "DebugOutput",
                                                                        "value": "Send second email to @{items('Check expiry')?['userPrincipalName']}, as their password expires in @{variables('CurrentUserDaysToExpiry')} days."
                                                                    },
                                                                    "runAfter": {},
                                                                    "type": "AppendToArrayVariable"
                                                                },
                                                                "Compose_Second_Warning_Email_Action": {
                                                                    "inputs": {
                                                                        "emailAction": {
                                                                            "expiringInDays": "@variables('CurrentUserDaysToExpiry')",
                                                                            "expiryDate": "@variables('CurrentUserExpiryDate')",
                                                                            "name": "@{variables('CurrentUserDisplayName')}",
                                                                            "recipient": "@{variables('CurrentUserEmailAddress')}",
                                                                            "username": "@{variables('CurrentUserPrincipalName')}",
                                                                            "warningType": "First"
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "Append_to_array_variable_2": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Compose"
                                                                }
                                                            },
                                                            "else": {
                                                                "actions": {
                                                                    "Less_than_ThirdWarningDays": {
                                                                        "actions": {
                                                                            "Add_Third_Warning_Email_Action": {
                                                                                "inputs": {
                                                                                    "name": "EmailsToSend",
                                                                                    "value": "@outputs('Compose_Third_Warning_Email_Action')"
                                                                                },
                                                                                "runAfter": {
                                                                                    "Compose_Third_Warning_Email_Action": [
                                                                                        "Succeeded"
                                                                                    ]
                                                                                },
                                                                                "type": "AppendToArrayVariable"
                                                                            },
                                                                            "Append_to_array_variable_3": {
                                                                                "inputs": {
                                                                                    "name": "DebugOutput",
                                                                                    "value": "Send third warning email to @{items('Check expiry')?['userPrincipalName']}, as their password expires in @{variables('CurrentUserDaysToExpiry')} days."
                                                                                },
                                                                                "runAfter": {},
                                                                                "type": "AppendToArrayVariable"
                                                                            },
                                                                            "Compose_Third_Warning_Email_Action": {
                                                                                "inputs": {
                                                                                    "emailAction": {
                                                                                        "expiringInDays": "@variables('CurrentUserDaysToExpiry')",
                                                                                        "expiryDate": "@variables('CurrentUserExpiryDate')",
                                                                                        "name": "@{variables('CurrentUserDisplayName')}",
                                                                                        "recipient": "@{variables('CurrentUserEmailAddress')}",
                                                                                        "username": "@{variables('CurrentUserPrincipalName')}",
                                                                                        "warningType": "First"
                                                                                    }
                                                                                },
                                                                                "runAfter": {
                                                                                    "Append_to_array_variable_3": [
                                                                                        "Succeeded"
                                                                                    ]
                                                                                },
                                                                                "type": "Compose"
                                                                            }
                                                                        },
                                                                        "expression": {
                                                                            "and": [
                                                                                {
                                                                                    "less": [
                                                                                        "@variables('CurrentUserDaysToExpiry')",
                                                                                        "@variables('ThirdWarningDays')"
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        },
                                                                        "runAfter": {},
                                                                        "type": "If"
                                                                    }
                                                                }
                                                            },
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "less": [
                                                                            "@variables('CurrentUserDaysToExpiry')",
                                                                            "@variables('SecondWarningDays')"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "greaterOrEquals": [
                                                                            "@variables('CurrentUserDaysToExpiry')",
                                                                            "@variables('ThirdWarningDays')"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "runAfter": {},
                                                            "type": "If"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "less": [
                                                                "@variables('CurrentUserDaysToExpiry')",
                                                                "@variables('FirstWarningDays')"
                                                            ]
                                                        },
                                                        {
                                                            "greaterOrEquals": [
                                                                "@variables('CurrentUserDaysToExpiry')",
                                                                "@variables('SecondWarningDays')"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {},
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@variables('CurrentUserDaysToExpiry')",
                                                    "@variables('FirstWarningDays')"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "less": [
                                        "@variables('CurrentUserExpiryDate')",
                                        "@utcNow()"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Calculate_days_to_expiry": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Store_CurrentUserDisplayName": {
                        "inputs": {
                            "name": "CurrentUserDisplayName",
                            "value": "@items('Check expiry')?['displayName']"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    },
                    "Store_CurrentUserEmailAddress": {
                        "inputs": {
                            "name": "CurrentUserEmailAddress",
                            "value": "@items('Check expiry')?['mail']"
                        },
                        "runAfter": {
                            "Store_CurrentUserDisplayName": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Store_CurrentUserPrincipalName": {
                        "inputs": {
                            "name": "CurrentUserPrincipalName",
                            "value": "@items('Check expiry')?['userPrincipalName']"
                        },
                        "runAfter": {
                            "Store_CurrentUserEmailAddress": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    }
                },
                "foreach": "@body('Parse_JSON')?['value']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                },
                "type": "Foreach"
            },
            "Get_All_Users_from_Microsoft_Graph": {
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "authority": "https://login.microsoft.com",
                        "clientId": "@variables('application_id')",
                        "secret": "@variables('secret')",
                        "tenant": "@variables('directory_id')",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/users/?$select=userprincipalname,displayname,mail,lastpasswordchangedatetime"
                },
                "runAfter": {
                    "Initialize_DebugOutput": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_ApplicationId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "application_id",
                            "type": "string",
                            "value": "<your app id here>"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_DirectoryId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_CurrentUserDaysToExpiry": {
                "inputs": {
                    "variables": [
                        {
                            "name": "CurrentUserDaysToExpiry",
                            "type": "float"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CurrentUserExpiryDate": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_CurrentUserDisplayName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "CurrentUserDisplayName",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CurrentUserEmailAddress": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_CurrentUserEmailAddress": {
                "inputs": {
                    "variables": [
                        {
                            "name": "CurrentUserEmailAddress",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CurrentUserDaysToExpiry": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_CurrentUserExpiryDate": {
                "inputs": {
                    "variables": [
                        {
                            "name": "CurrentUserExpiryDate",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CurrentUserLastPasswordChangeDate": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_CurrentUserLastPasswordChangeDate": {
                "inputs": {
                    "variables": [
                        {
                            "name": "CurrentUserLastPasswordChangeDate",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_secret": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_CurrentUserPrincipalName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "CurrentUserPrincipalName",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CurrentUserDisplayName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_DebugOutput": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DebugOutput",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_EmailsToSend": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_DirectoryId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "directory_id",
                            "type": "string",
                            "value": "<set your directory ID here>"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_PasswordsExpireInDays": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_EmailsToSend": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EmailsToSend",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CurrentUserPrincipalName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_FirstWarningDays": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FirstWarningDays",
                            "type": "integer",
                            "value": "@triggerBody()?['FirstWarningDays']"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_PasswordsExpireInDays": {
                "inputs": {
                    "variables": [
                        {
                            "name": "PasswordsExpireInDays",
                            "type": "integer",
                            "value": "@triggerBody()?['DaysToExpiryFromLastSet']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_secret": {
                "inputs": {
                    "variables": [
                        {
                            "name": "secret",
                            "type": "string",
                            "value": "<set your secret here>"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_ApplicationId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ThirdWarningDays",
                            "type": "integer",
                            "value": "@triggerBody()?['ThirdWarningDays']"
                        }
                    ]
                },
                "runAfter": {
                    "SecondWarningDays": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Loop_through_emails_to_send": {
                "actions": {
                    "Check_if_email_is_not_null": {
                        "actions": {
                            "Append_to_array_variable_5": {
                                "inputs": {
                                    "name": "DebugOutput",
                                    "value": "Sent email to @{variables('CurrentUserDisplayName')} at @{variables('CurrentUserEmailAddress')}."
                                },
                                "runAfter": {},
                                "type": "AppendToArrayVariable"
                            },
                            "Send_email_(V4)": {
                                "inputs": {
                                    "body": {
                                        "from": "from_email@your_domain.com",
                                        "ishtml": true,
                                        "subject": "Your password is expiring soon",
                                        "text": "<p>Hi @{variables('CurrentUserDisplayName')}<br>\n<br>\nPlease note that your user account, @{variables('CurrentUserPrincipalName')}, is expiring in @{variables('CurrentUserDaysToExpiry')} day(s). If you do not change your password in time, you may receive an error when trying to log in.<br>\n<br>\nTo change your password, follow these steps:<br>\n<br>\n1. Click <a href=\"https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=8c59ead7-d703-4a27-9e55-c96a0054c8d2&amp;redirect_uri=https%3A%2F%2Fmyaccount.microsoft.com&amp;scope=openid+profile+email+offline_access&amp;prompt=login\">this link</a><br>\n2. Login using the username @{variables('CurrentUserPrincipalName')}, and provide your current password.<br>\n3. Click the Change your Password button<br>\n4. Follow the steps to change your password.<br>\n<br>\nFor any further assistance, please log a request with XXXX.<br>\n<br>\nRegards,<br>\n<br>\nThe Operations Team<br>\n</p>",
                                        "to": "@variables('CurrentUserEmailAddress')"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sendgrid']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/v4/mail/send"
                                },
                                "runAfter": {
                                    "Append_to_array_variable_5": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            }
                        },
                        "else": {
                            "actions": {
                                "Append_to_array_variable_4": {
                                    "inputs": {
                                        "name": "DebugOutput",
                                        "value": "Could not send email to @{variables('CurrentUserDisplayName')} since the email address is not set."
                                    },
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@concat('', variables('CurrentUserEmailAddress'))",
                                        " "
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Store_user_principal_name_for_email": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Store_days_to_expiry_for_email": {
                        "inputs": {
                            "name": "CurrentUserDaysToExpiry",
                            "value": "@items('Loop_through_emails_to_send')?['emailAction']?['expiringInDays']"
                        },
                        "runAfter": {
                            "Store_email_address_for_email": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Store_display_name_for_email": {
                        "inputs": {
                            "name": "CurrentUserDisplayName",
                            "value": "@items('Loop_through_emails_to_send')?['emailAction']?['name']"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    },
                    "Store_email_address_for_email": {
                        "inputs": {
                            "name": "CurrentUserEmailAddress",
                            "value": "@items('Loop_through_emails_to_send')?['emailAction']?['recipient']"
                        },
                        "runAfter": {
                            "Store_display_name_for_email": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Store_user_principal_name_for_email": {
                        "inputs": {
                            "name": "CurrentUserPrincipalName",
                            "value": "@items('Loop_through_emails_to_send')?['emailAction']?['username']"
                        },
                        "runAfter": {
                            "Store_days_to_expiry_for_email": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    }
                },
                "foreach": "@body('Parse_EmailsToSend')",
                "runAfter": {
                    "Parse_EmailsToSend": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                },
                "type": "Foreach"
            },
            "Parse_EmailsToSend": {
                "inputs": {
                    "content": "@variables('EmailsToSend')",
                    "schema": {
                        "items": {
                            "properties": {
                                "emailAction": {
                                    "properties": {
                                        "expiringInDays": {
                                            "type": "integer"
                                        },
                                        "expiryDate": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "recipient": {
                                            "type": "string"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "warningType": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "required": [
                                "emailAction"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Check expiry": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Get_All_Users_from_Microsoft_Graph')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "value": {
                                "items": {
                                    "properties": {
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "lastPasswordChangeDateTime": {
                                            "type": "string"
                                        },
                                        "mail": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "userPrincipalName": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "displayName",
                                        "mail",
                                        "lastPasswordChangeDateTime",
                                        "userPrincipalName"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_All_Users_from_Microsoft_Graph": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "body": "@variables('DebugOutput')",
                    "statusCode": 200
                },
                "kind": "Http",
                "operationOptions": "Asynchronous",
                "runAfter": {
                    "Loop_through_emails_to_send": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "SecondWarningDays": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SecondWarningDays",
                            "type": "integer",
                            "value": "@triggerBody()?['SecondWarningDays']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_FirstWarningDays": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "DaysToExpiryFromLastSet": {
                                "type": "integer"
                            },
                            "FirstWarningDays": {
                                "type": "integer"
                            },
                            "SecondWarningDays": {
                                "type": "integer"
                            },
                            "ThirdWarningDays": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "sendgrid": {
                    "connectionId": "<configure me>",
                    "connectionName": "sendgrid",
                    "id": "<configure me>"
                }
            }
        }
    }
}